<div id="currentHeroJumbotron" class="jumbotron">
  <h2>Today's&nbsp;Support&nbsp;Hero</h2>
  <h1><%= @current_shift.employee.first_name %></h1>
</div>

<h3>Upcoming Support Heroes</h3>

<script>
  $(document).ready(function(){    
    $('.shiftSwapRequestLink').click(function(e){
      e.preventDefault();
      var original_shift_id = $('.shiftSwapRequestLink').data('original_shift_id');
      
      $('.unavailableLink').hide() // this just cluttered the interface
      $('.shiftSwapRequestLink').hide();
      $('.shiftSwapCancelLink').each(function(){
        console.log($(this).data('shift_id'));
        if ($(this).data('shift_id') == original_shift_id) {
          $(this).show();
        }
      });           
      $('.shiftSwapConfirmLink').each(function(){                  
        $(this).attr("href","/shift_swap/create/"+original_shift_id+"/"+$(this).data('new_shift_id'));
      });
      $('.shiftSwapConfirmLink').show(); 
    });
    $('.shiftSwapCancelLink').click(function(e){
      e.preventDefault();
      
      $('.shiftSwapRequestLink').show();
      $('.unavailableLink').show()
      $('.shiftSwapCancelLink').hide();
      $('.shiftSwapConfirmLink').hide();
      
      $('.shiftSwapConfirmLink').each(function(){                  
        $(this).attr("href","");
      });
    });
    
  });  
</script>

<% # used to be in a partial, but became too different than it's other use-cases %>
<% @shifts.each do |shift| %>
  <% 
    if shift.on_call_date == Date.today
      class_assignment = "futureHero current"
    else
      class_assignment = "futureHero"
    end 
    
    unavailable = false
    if shift.employee.work_restrictions.select { |work_restriction| work_restriction.date == shift.on_call_date }.length > 0
      class_assignment = class_assignment + " unavailable"
      unavailable = true
    end
  %>
    <p class="<%= class_assignment %>">      
      <%= shift.on_call_date.strftime("%m/%d/%Y") %> | <%= shift.employee.first_name %>      
      <% if current_user and current_user.first_name == shift.employee.first_name and shift.on_call_date >= Date.today %> 
        <% # if logged in, and this shift belongs to the logged in user %>
        <span class="pull-right">                    
          <% if unavailable %>
            <%= link_to "I'm Available", destroy_work_restriction_path(current_user.id,shift.on_call_date), :class => "unavailableLink" %>            
          <% else %>
            <%= link_to "I'm Not Available", create_work_restriction_path(current_user.id,shift.on_call_date), :class => "unavailableLink" %>
          <% end %>
          <a class="shiftSwapRequestLink" data-original_shift_id="<%= shift.id %>" href="#">Request Shift Swap</a>
          <a class="shiftSwapCancelLink" data-shift_id="<%= shift.id %>" href="#">Cancel Shift Swap</a>
        </span>
      <% elsif current_user and current_user.first_name != shift.employee.first_name and shift.on_call_date > Date.today %>
        <% # if logged in, and if this shift doesn't belong to the logged in user %>
        <span class="pull-right">
          <a class="shiftSwapConfirmLink" data-new_shift_id="<%= shift.id %>" href="#">Select as New Shift</a>
          <% if unavailable %>
            <%= link_to "Pickup Shift", pickup_shift_path(shift.id) %>
          <% end %>
        </span>
      <% end %>
    </p>
<% end %>